.international {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .inter {
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-btn {
      // padding: 5px 15px 0px 15px;
      padding: 0;
      height: 100%;
      border-radius: 20px;
      font-weight: 600;
      color: #000;
      display: flex;
      align-items: center;
      border-color: transparent !important;
      background-size: 100% 100% !important;
      box-shadow: none !important;
      background-color: transparent;
      .ant-space{
        .ant-space-item {
          display: flex;
          align-items: center;
          min-width: 130px;
        }
      }
    }
  }
  .interSpace {
    display: flex;
    align-items: center;
    // 地球图标
    img {
      height: 25px;
      margin-right: 6px;
    }
    .interRight{
      
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #F95192;
      .lang{
        margin-right: 10px;
      }
    }
  }
}

.ant-dropdown-menu-title-content{
  font-size: 16px;
  color: #F95192;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  font-weight: 600 !important;
}

.ant-btn-two-chinese-chars > :not(.anticon) {
  letter-spacing: 0px !important;
}

@media only screen and (min-width: 300px) and (max-width: 640px) {
  .international {
    .ineter{
      margin-right: 5px;
      .ant-btn {
        padding: 5px 10px 5px 10px;
        width: 100%;
      }
    }
  }

  .Heaer_footer .international {
    display: block !important;
    .inter {
      margin-top: 0px !important;
      margin-bottom: 10px !important;
      margin-right: 0px !important;
    }
  }
}
