.home{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 200px;
    .home-area{
        width: 100%;
        display: flex;
        justify-content: center;
        .home-content{
            width: 1240px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .homeIntro_top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 110px;
                width: 80%;
                .homeIntro_One,
                .homeIntro_Two{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .maya-title{
                        
                        font-style: normal;
                        font-weight: 600;
                        font-size: 40px;
                        line-height: 49px;
                        color: #F95192;
                        margin-top: 125px;
                    }
                    .maya-subtitle{
                        
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 28px;
                        /* or 140% */
                        color: #141414;
                        margin: 30px 0;
                    }
                    .icon-one{
                        width: 250px;
                        object-fit: cover;
                    }
                    .icon-two{
                        width: 350px;
                        object-fit: cover;
                        margin-left: 85px;
                    }
                    .lauch{
                        width: 220px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        // line-height: 22px;
                        color: #FFFFFF;
                        cursor: pointer;
                        background: #F95192;
                        border-radius: 8px;
                        border: none;
                    }
                    .maya-cat{
                        width: 125px;
                        height: 194px;
                        object-fit: contain;
                        margin: 60px 0 0 60%;
                    }
                }
            }

            .homeIntro_func{
                width: 80%;
                display: flex;
                flex-direction: column;
                .uifunc{
                    width: 100%;
                    height: 265px;
                    background: linear-gradient(180deg, #FFFFFF 19.27%, #FFD5E5 100%);
                    border: 3px solid #F95192;
                    box-shadow: 12px 12px 0px #FFBCD6;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .uifunction{
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                        .uifunc_left{
                            display: flex;
                            height: 100%;
                            flex-direction: column;
                            .func-name{
                                
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 22px;
                                color: #000000;
                                width: fit-content;
                                position: relative;
                                .funcname{
                                    position: relative;
                                    z-index: 5;
                                }
                                .func-nameline{
                                    width: calc(100% + 10px);
                                    height: 10px;
                                    background: #FFAFCE;
                                    position: absolute;
                                    left: -5px;
                                    bottom: -5px;
                                    z-index: 1;
                                }
                            }
                            .func-intro{
                                
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                // line-height: 22px;
                                // /* or 138% */
                                color: #717171;
                                width: 55%;
                                margin-top: 25px;
                            }
                        }
                        .easyui-icon{
                            width: 180px;
                            object-fit: cover;
                        }
                    }
                }
                .homeIntrofunc_bottom{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 45px 0;
                    .settingfunc,
                    .tokenfunc,
                    .welfarefunc{
                        width: 310px;
                        height: 475px;
                        background: linear-gradient(180deg, #FFFFFF 19.27%, #FFD5E5 100%);
                        border: 3px solid #F95192;
                        box-shadow: 12px 12px 0px #FFBCD6;
                        border-radius: 12px;
                        display: flex;
                        flex-direction: column;
                        padding: 40px 35px 30px;
                        box-sizing: border-box;
                        justify-content: space-between;
                        .func-icon{
                            width: 180px;
                            object-fit: cover;
                            margin: 0 auto;
                        }
                        .func-name{
                            
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 22px;
                            color: #000000;
                            width: fit-content;
                            position: relative;
                            .funcname{
                                position: relative;
                                z-index: 5;
                            }
                            .func-nameline{
                                width: calc(100% + 10px);
                                height: 10px;
                                background: #FFAFCE;
                                position: absolute;
                                left: -5px;
                                bottom: -5px;
                                z-index: 1;
                            }
                        }
                        .func-intro{
                            
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            // line-height: 22px;
                            // /* or 138% */
                            color: #717171;
                            // width: 55%;
                            // margin-top: 25px;
                        }
                    }
                }
            }

            .home-create{
                padding: 30px 50px;
                box-sizing: border-box;
                width: 80%;
                height: 115px;
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .create-left{
                    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    // line-height: 32px;
                    color: #000000;
                    width: 60%;
                }
                .create-right{
                    // width: 150px;
                    padding: 5px 15px;
                    box-sizing: border-box;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    // line-height: 36px;
                    border: none;
                    background: #F95192;
                    border-radius: 8px;
                    /* identical to box height, or 89% */
                    // text-align: center;
                    // letter-spacing: 0.48px;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }

            .timeline-title{
                
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 22px;
                /* identical to box height, or 69% */
                color: #F95192;
                margin-top: 95px;
                width: 90%;
                text-align: left;
            }

            .timeline-subtitle{
                
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.85);
                margin: 20px 0 35px 0 ;
                width: 90%;
                text-align: left;
            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 640px){
    .home{
        width: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        background-image: url('../../assets/image/HomeBackground.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        flex-direction: column;
        padding: 0;
        .home-area{
            width: 100%;
            display: flex;
            justify-content: center;
            .home-content{
                width: 95%;
                .homeIntro_top{
                    display: flex;
                    margin:0;
                    width: 100%;
                    flex-direction: column-reverse;
                    .homeIntro_One,
                    .homeIntro_Two{
                        position: relative;
                        .maya-title{
                            font-size: 24px;
                            margin: 0;
                        }
                        .maya-subtitle{
                            font-size: 16px;
                            line-height: 32px;
                            margin: 20px 0;
                        }
                        .icon-one{
                            width: 75px;
                            position: absolute;
                            object-fit: cover;
                            right: 15px;
                            top: 45px;
                            // display: none;
                        }
                        .icon-two{
                            position: absolute;
                            width: 150px;
                            object-fit: cover;
                            margin: 0;
                            right: 30px;
                            top: 320px;
                            bottom: 0;
                            z-index: 1;
                            // display: none;
                            // margin-left: 85px;
                        }
                        .lauch{
                            width: 90%;
                            margin: 0 auto;
                            position: relative;
                            z-index: 2;
                        }
                        .maya-cat{
                            width: 125px;
                            height: 194px;
                            object-fit: contain;
                            margin: 30px;
                        }
                    }
                }

                .homeIntro_func{
                    width: 95%;
                    .uifunc{
                        .uifunction{
                            width: 100%;
                            flex-direction: column;
                            // height: 100%;
                            // justify-content: initial;
                            .uifunc_left{
                                padding: 0 5%;
                                .func-name{
                                    font-size: 24px;
                                    line-height: 22px;

                                }
                                .func-intro{
                                    font-size: 16px;
                                    // line-height: 22px;
                                    width: 100%;
                                    margin: 15px 0;
                                }
                            }
                            .easyui-icon{
                                width: 125px;
                                // object-fit: cover;
                            }
                        }
                    }
                    .homeIntrofunc_bottom{
                        flex-wrap: wrap;
                        margin-top: 20px;
                        .settingfunc,
                        .tokenfunc,
                        .welfarefunc{
                            width: 100%;
                            height: 300px;
                            margin-bottom: 25px;
                            padding: 25px;
                            .func-icon{
                                width: 125px;
                                margin: 0 auto;
                            }
                        }
                    }
                }

                .home-create{
                    width: 95%;
                    padding: 10px;
                    height: auto;
                    flex-direction: column;
                    .create-left{
                        width: 100%;
                        font-size: 17px;
                    }
                    .create-right{
                        width: 100%;
                        padding: 0;
                        margin: 15px 0;
                    }
                }

                .timeline-title{
                    width: 95%;
                    font-size: 24px;
                    margin-top: 25px;
                }

                .timeline-subtitle{
                    width: 95%;
                    font-size: 16px;
                }

            }
        }
    }
}